<div id="content" class="content">
<h1 class="title">Yew Framework Rust</h1>
<div id="table-of-contents" role="doc-toc">
<h2>Table of Contents</h2>
<div id="text-table-of-contents" role="doc-toc">
<ul>
<li><a href="#org6a453c5">1. What is Yew?</a></li>
<li><a href="#orgdc7e00a">2. Getting Started with Yew</a>
<ul>
<li><a href="#orge23725c">2.1. Prerequisites</a></li>
</ul>
</li>
<li><a href="#org4430fef">3. Setting Up Your Rust Development Environment</a>
<ul>
<li>
<ul>
<li><a href="#orge35fd10">3.0.1. Prerequisites</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#org4a409bb">4. Why Recommend Nix?</a>
<ul>
<li><a href="#orge7921df">4.1. Why i recoment Nix.</a></li>
</ul>
</li>
<li><a href="#org8780b23">5. Creating a New Yew Project</a></li>
</ul>
</div>
</div>
<p>
In the world of web development, choosing the right framework can make a significant difference in your productivity and the performance of your application. Rust, known for its performance and safety, has been making waves in various domains, and web development is no exception. Among the Rust ecosystem's promising offerings is the Yew framework. If you're looking to build fast, reliable, and modern web applications, Yew might be the tool you've been searching for. In this blog post, we'll dive into what Yew is, its key features, and why you should consider using it for your next project.
</p>
<div id="outline-container-org6a453c5" class="outline-2">
<h2 id="org6a453c5"><span class="section-number-2">1.</span> What is Yew?</h2>
<div class="outline-text-2" id="text-1">
<p>
Yew is a modern Rust framework for creating multi-threaded front-end web applications with WebAssembly (Wasm). Inspired by frameworks like React and Elm, Yew offers a powerful and ergonomic way to build interactive web applications. It leverages Rust's safety and performance to provide a robust development experience and high-performance runtime for your applications.
Key Features of Yew
</p>

<ol class="org-ol">
<li>Component-Based Architecture</li>
</ol>

<p>
Yew embraces a component-based architecture similar to React. Components are the building blocks of your application, encapsulating logic, state, and UI. This modular approach makes it easy to manage and reuse code, leading to cleaner and more maintainable projects.
</p>

<ol class="org-ol">
<li>Zero-Cost Abstractions</li>
</ol>

<p>
Rust is renowned for its zero-cost abstractions, and Yew is no exception. It provides abstractions that allow you to write high-level code without sacrificing performance. Yew's efficient rendering model ensures that your application remains responsive, even as it scales.
</p>

<ol class="org-ol">
<li>Asynchronous Programming</li>
</ol>

<p>
Yew integrates seamlessly with Rust's asynchronous programming model. You can use Rust's async/await syntax to handle asynchronous tasks, such as making API requests or performing background computations, without blocking the main thread.
</p>

<ol class="org-ol">
<li>Type Safety</li>
</ol>

<p>
One of Rust's greatest strengths is its type system, which helps catch errors at compile time. Yew leverages this feature to ensure that your UI components are type-safe, reducing the likelihood of runtime errors and bugs.
</p>

<ol class="org-ol">
<li>Rich Ecosystem</li>
</ol>

<p>
Yew's ecosystem includes libraries and tools to enhance your development experience. For instance, yew-router provides routing capabilities, while yewdux offers state management solutions. The ecosystem is continuously growing, with contributions from the Rust community expanding its capabilities.
</p>

<ol class="org-ol">
<li>WebAssembly Integration</li>
</ol>

<p>
Yew compiles to WebAssembly, enabling your Rust code to run efficiently in the browser. This allows you to leverage Rust's performance benefits in your web applications, providing a smooth and responsive user experience.
</p>
</div>
</div>
<div id="outline-container-orgdc7e00a" class="outline-2">
<h2 id="orgdc7e00a"><span class="section-number-2">2.</span> Getting Started with Yew</h2>
<div class="outline-text-2" id="text-2">
</div>
<div id="outline-container-orge23725c" class="outline-3">
<h3 id="orge23725c"><span class="section-number-3">2.1.</span> Prerequisites</h3>
<div class="outline-text-3" id="text-2-1">
<p>
Let's walk through the basics of getting started with Yew.
</p>

<ol class="org-ol">
<li>Setting Up Your Environment</li>
</ol>
</div>
</div>
</div>
<div id="outline-container-org4430fef" class="outline-2">
<h2 id="org4430fef"><span class="section-number-2">3.</span> Setting Up Your Rust Development Environment</h2>
<div class="outline-text-2" id="text-3">
</div>
<div id="outline-container-orge35fd10" class="outline-4">
<h4 id="orge35fd10"><span class="section-number-4">3.0.1.</span> Prerequisites</h4>
<div class="outline-text-4" id="text-3-0-1">
<p>
Ensure that you have a Unix-like system (Linux or macOS) for these instructions. If you don't have Rust installed yet, you can use Nix to install and manage Rust, which is useful for creating isolated and reproducible development environments.
</p>

<ol class="org-ol">
<li>Install Nix</li>
</ol>

<p>
First, you need to install Nix, a package manager that allows you to create isolated development environments.
</p>

<div class="org-src-container">
<pre class="src src-bash">
<span style="color: #5b6078; font-style: italic;"># </span><span style="color: #5b6078; font-style: italic;">Install Nix as a single-user installation</span>
sh &lt;<span style="color: #a6e3a1; font-weight: bold;">(</span>curl -L https://nixos.org/nix/install<span style="color: #a6e3a1; font-weight: bold;">)</span> --no-daemon

</pre>
</div>

<ol class="org-ol">
<li>Set Up the Nix Development Environment</li>
</ol>

<p>
Create a directory for your Rust development environment and navigate into it:
</p>

<div class="org-src-container">
<pre class="src src-nil">
mkdir rust-shell
cd rust-shell

</pre>
</div>
<ol class="org-ol">
<li>Download the necessary configuration files:</li>
</ol>
<p>
These files configure your Nix environment to include Rust and related tools.
</p>

<div class="org-src-container">
<pre class="src src-nil">
wget https://raw.githubusercontent.com/abhi-xyz/nix-shells/master/rust/shell.nix
wget https://raw.githubusercontent.com/abhi-xyz/nix-shells/master/rust/flake.nix
wget https://raw.githubusercontent.com/abhi-xyz/nix-shells/master/rust/flake.lock
wget https://raw.githubusercontent.com/abhi-xyz/nix-shells/master/rust/rust-toolchain.toml

</pre>
</div>

<ol class="org-ol">
<li>Enter the Nix Development Environment</li>
</ol>

<p>
Use the following command to enter the Nix shell. This environment is isolated, so any software you install or changes you make will not affect your system outside of this shell.
</p>
<div class="org-src-container">
<pre class="src src-nil">
nix develop

</pre>
</div>
<ol class="org-ol">
<li>Install Trunk</li>
</ol>

<p>
Once inside the Nix shell, you can use Cargo (Rust's package manager and build system) to install Trunk, a tool for building and bundling Rust applications.
</p>


<div class="org-src-container">
<pre class="src src-nil">
cargo install trunk

</pre>
</div>
<ol class="org-ol">
<li>Exiting the Nix Shell</li>
</ol>


<p>
When you exit the Nix shell, any changes or installations made within that environment are no longer accessible. To return to the environment, you must use nix develop again.
Uninstalling Nix
</p>

<p>
If you need to uninstall Nix at any point, you can follow the instructions provided in the Nix manual.
</p>
</div>
</div>
</div>
<div id="outline-container-org4a409bb" class="outline-2">
<h2 id="org4a409bb"><span class="section-number-2">4.</span> Why Recommend Nix?</h2>
<div class="outline-text-2" id="text-4">
<p>
Nix is highly recommended for managing development environments due to the following benefits:
</p>

<p>
Isolation: Nix provides isolated environments that ensure changes made in one environment do not impact the global system or other environments. This isolation is particularly valuable in web development, where tools like Trunk can leave services or ports in use even after exiting. In contrast, when you exit a Nix shell, all processes started within it are terminated, freeing up resources such as ports. This prevents conflicts and allows you to reuse ports seamlessly across different sessions.
</p>

<p>
Reproducibility: With Nix, you can achieve consistent and reproducible development environments. By using configuration files like shell.nix and flake.nix, you ensure that all team members and collaborators work with the same tools and dependencies. This eliminates discrepancies and simplifies sharing development environments. For example, by sharing these configuration files, you can easily provide others with a setup that mirrors your own.
</p>

<p>
Declarative Configuration: Nix leverages declarative configuration files to define environments. Files like shell.nix and flake.nix describe exactly what the environment should include, making it straightforward to replicate and share setups across different machines and teams. This declarative approach enhances clarity and maintainability.
</p>

<p>
Flexibility: Nix allows you to specify exact versions of tools and dependencies, reducing the risk of version conflicts and compatibility issues. This precision ensures that all developers are using the same versions, which helps prevent the "works on my machine" problem and facilitates smoother collaboration.
</p>

<p>
By incorporating Nix into your workflow, you streamline your development process, avoid environment-related issues, and promote consistency across various systems and team members.
</p>















<div class="org-src-container">
<pre class="src src-bash">
<span style="color: #5b6078; font-style: italic;"># </span><span style="color: #5b6078; font-style: italic;">installs nix as single user installation</span>
sh &lt;<span style="color: #a6e3a1; font-weight: bold;">(</span>curl -L https://nixos.org/nix/install<span style="color: #a6e3a1; font-weight: bold;">)</span> --no-daemon

<span style="color: #5b6078; font-style: italic;"># </span><span style="color: #5b6078; font-style: italic;">setting up a nix development environment</span>
mkdir rust-shell
<span style="color: #1abc9c; font-style: italic;">cd</span> rust-shell

wget https://raw.githubusercontent.com/abhi-xyz/nix-shells/master/rust/shell.nix
wget https://raw.githubusercontent.com/abhi-xyz/nix-shells/master/rust/flake.nix
wget https://raw.githubusercontent.com/abhi-xyz/nix-shells/master/rust/flake.lock
wget https://raw.githubusercontent.com/abhi-xyz/nix-shells/master/rust/rust-toolchain.toml

<span style="color: #5b6078; font-style: italic;"># </span><span style="color: #5b6078; font-style: italic;">This will give you an instant nix shell environment</span>
<span style="color: #5b6078; font-style: italic;"># </span><span style="color: #5b6078; font-style: italic;">note that the moment you get out on the shell the environment is no longer there. means the softwares you installed through is no longer usable. </span>
nix develop

<span style="color: #5b6078; font-style: italic;"># </span><span style="color: #5b6078; font-style: italic;">After installing Rust, you can use Cargo to install trunk by running:</span>
cargo install trunk


<span style="color: #5b6078; font-style: italic;"># </span><span style="color: #5b6078; font-style: italic;">unistalling nix</span>
https://nix.dev/manual/nix/2.18/installation/uninstall

</pre>
</div>
</div>
<div id="outline-container-orge7921df" class="outline-3">
<h3 id="orge7921df"><span class="section-number-3">4.1.</span> Why i recoment Nix.</h3>
<div class="outline-text-3" id="text-4-1">
<p>
First, ensure you have Rust installed on your system. You'll also need to install wasm-pack to build and package your WebAssembly code. You can install it using:
</p>

<div class="org-src-container">
<pre class="src src-bash">

</pre>
</div>

<ul class="org-ul">
<li>We will also need to add the WASM build target by running:</li>
</ul>

<div class="org-src-container">
<pre class="src src-bash">
rustup target add wasm32-unknown-unknown

</pre>
</div>
</div>
</div>
</div>
<div id="outline-container-org8780b23" class="outline-2">
<h2 id="org8780b23"><span class="section-number-2">5.</span> Creating a New Yew Project</h2>
<div class="outline-text-2" id="text-5">
<div class="org-src-container">
<pre class="src src-bash">
cargo new my-site

<span style="color: #1abc9c; font-style: italic;">cd</span> my-site

</pre>
</div>

<div class="org-src-container">
<pre class="src src-toml">
[<span style="color: #1abc9c; font-style: italic;">package</span>]
<span style="color: #cdd6f4; font-weight: bold;">name</span> = <span style="color: #9ece6a;">"my-site"</span>
<span style="color: #cdd6f4; font-weight: bold;">version</span> = <span style="color: #9ece6a;">"0.1.0"</span>
<span style="color: #cdd6f4; font-weight: bold;">edition</span> = <span style="color: #9ece6a;">"2021"</span>

[<span style="color: #1abc9c; font-style: italic;">dependencies</span>]
<span style="color: #cdd6f4; font-weight: bold;">yew</span> = { version = <span style="color: #9ece6a;">"0.21.0"</span>, features = [<span style="color: #9ece6a;">"csr"</span>] }
<span style="color: #cdd6f4; font-weight: bold;">yew-router</span> = <span style="color: #9ece6a;">"0.18.0"</span>

</pre>
</div>

<div class="org-src-container">
<pre class="src src-rust">
<span style="color: #f7768e; font-style: italic;">use</span> <span style="color: #1abc9c;">yew</span>::<span style="color: #1abc9c;">prelude</span>::*;

<span style="color: #f7768e; font-style: italic;">struct</span> <span style="color: #1abc9c; font-style: italic;">Model</span> <span style="color: #a6e3a1; font-weight: bold;">{</span>
    <span style="color: #cdd6f4; font-weight: bold;">link</span>: <span style="color: #1abc9c; font-style: italic;">ComponentLink</span><span style="color: #cba6f7; font-weight: bold;">&lt;</span><span style="color: #1abc9c; font-style: italic;">Self</span><span style="color: #cba6f7; font-weight: bold;">&gt;</span>,
    <span style="color: #cdd6f4; font-weight: bold;">counter</span>: <span style="color: #1abc9c; font-style: italic;">i64</span>,
<span style="color: #a6e3a1; font-weight: bold;">}</span>

<span style="color: #f7768e; font-style: italic;">enum</span> <span style="color: #1abc9c; font-style: italic;">Msg</span> <span style="color: #a6e3a1; font-weight: bold;">{</span>
    <span style="color: #1abc9c; font-style: italic;">Increment</span>,
<span style="color: #a6e3a1; font-weight: bold;">}</span>

<span style="color: #f7768e; font-style: italic;">impl</span> <span style="color: #1abc9c; font-style: italic;">Component</span> <span style="color: #f7768e; font-style: italic;">for</span> <span style="color: #1abc9c; font-style: italic;">Model</span> <span style="color: #a6e3a1; font-weight: bold;">{</span>
    <span style="color: #f7768e; font-style: italic;">type</span> <span style="color: #1abc9c; font-style: italic;">Message</span> = <span style="color: #1abc9c; font-style: italic;">Msg</span>;
    <span style="color: #f7768e; font-style: italic;">type</span> <span style="color: #1abc9c; font-style: italic;">Properties</span> = <span style="color: #cba6f7; font-weight: bold;">()</span>;

    <span style="color: #f7768e; font-style: italic;">fn</span> <span style="color: #7aa2f7; font-weight: bold;">create</span><span style="color: #cba6f7; font-weight: bold;">(</span><span style="color: #cdd6f4; font-weight: bold;">link</span>: <span style="color: #1abc9c; font-style: italic;">ComponentLink</span><span style="color: #f9e2af; font-weight: bold;">&lt;</span><span style="color: #1abc9c; font-style: italic;">Self</span><span style="color: #f9e2af; font-weight: bold;">&gt;</span><span style="color: #cba6f7; font-weight: bold;">)</span> -&gt; <span style="color: #1abc9c; font-style: italic;">Self</span> <span style="color: #cba6f7; font-weight: bold;">{</span>
        <span style="color: #1abc9c; font-style: italic;">Self</span> <span style="color: #f9e2af; font-weight: bold;">{</span>
            link,
            <span style="color: #cdd6f4; font-weight: bold;">counter</span>: 0,
        <span style="color: #f9e2af; font-weight: bold;">}</span>
    <span style="color: #cba6f7; font-weight: bold;">}</span>

    <span style="color: #f7768e; font-style: italic;">fn</span> <span style="color: #7aa2f7; font-weight: bold;">update</span><span style="color: #cba6f7; font-weight: bold;">(</span><span style="color: #cdd6f4; background-color: #1e1e2e;">&amp;</span><span style="color: #f7768e; font-style: italic;">mut</span> <span style="color: #f7768e; font-style: italic;">self</span>, <span style="color: #cdd6f4; font-weight: bold;">msg</span>: <span style="color: #1abc9c; font-style: italic;">Self</span>::<span style="color: #1abc9c; font-style: italic;">Message</span><span style="color: #cba6f7; font-weight: bold;">)</span> -&gt; <span style="color: #1abc9c; font-style: italic;">ShouldRender</span> <span style="color: #cba6f7; font-weight: bold;">{</span>
        <span style="color: #f7768e; font-style: italic;">match</span> msg <span style="color: #f9e2af; font-weight: bold;">{</span>
            <span style="color: #1abc9c; font-style: italic;">Msg</span>::<span style="color: #1abc9c; font-style: italic;">Increment</span> =&gt; <span style="color: #89dceb; font-weight: bold;">{</span>
                <span style="color: #f7768e; font-style: italic;">self</span>.counter += 1;
                <span style="color: #f7768e; font-style: italic;">true</span>
            <span style="color: #89dceb; font-weight: bold;">}</span>
        <span style="color: #f9e2af; font-weight: bold;">}</span>
    <span style="color: #cba6f7; font-weight: bold;">}</span>

    <span style="color: #f7768e; font-style: italic;">fn</span> <span style="color: #7aa2f7; font-weight: bold;">view</span><span style="color: #cba6f7; font-weight: bold;">(</span><span style="color: #cdd6f4; background-color: #1e1e2e;">&amp;</span><span style="color: #f7768e; font-style: italic;">self</span><span style="color: #cba6f7; font-weight: bold;">)</span> -&gt; <span style="color: #1abc9c; font-style: italic;">Html</span> <span style="color: #cba6f7; font-weight: bold;">{</span>
        <span style="color: #7dcfff;">html!</span> <span style="color: #f9e2af; font-weight: bold;">{</span>
            &lt;div&gt;
                &lt;button onclick=self.link.callback<span style="color: #89dceb; font-weight: bold;">(</span>|_| <span style="color: #1abc9c; font-style: italic;">Msg</span>::<span style="color: #1abc9c; font-style: italic;">Increment</span><span style="color: #89dceb; font-weight: bold;">)</span>&gt;<span style="color: #89dceb; font-weight: bold;">{</span> <span style="color: #9ece6a;">"Increment"</span> <span style="color: #89dceb; font-weight: bold;">}</span>&lt;/button&gt;
                &lt;p&gt;<span style="color: #89dceb; font-weight: bold;">{</span> <span style="color: #f7768e; font-style: italic;">self</span>.counter <span style="color: #89dceb; font-weight: bold;">}</span>&lt;/p&gt;
            &lt;/div&gt;
        <span style="color: #f9e2af; font-weight: bold;">}</span>
    <span style="color: #cba6f7; font-weight: bold;">}</span>
<span style="color: #a6e3a1; font-weight: bold;">}</span>


</pre>
</div>
</div>
</div>
</div>
<div id="postamble" class="status">
<p class="date">Date: 2024-09-08 Sun 00:00</p>
<p class="author">Author: Abhinandh S</p>
<p class="date">Created: 2024-09-17 Tue 11:26</p>
</div>

